.AllSpecializationsPage .item {
    position: relative;
    padding-top: 20px;
}

.AllSpecializationsPage .button {
    font-size: 1.25rem;
}

.AllSpecializationsPage .modal-content {
    padding: 20px;
}
