.HomePage .info {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    padding: 0 20px;
}

.HomePage .join button {
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 20px 40px;
}
