.Badge .wrapper {
    color: white;
    padding: 4px 12px;
    text-align: center;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Badge .wrapper.primary {
    background-color: var(--primary-color);
}

.Badge .wrapper.secondary {
    background-color: var(--secondary-color);
}

.Badge {
    padding: 3px;
}
