.Badge .wrapper {
    color: white;
    padding: 4px 12px;
    text-align: center;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Badge .wrapper.limited {
    max-width: 200px;
}

.Badge .wrapper.primary {
    background-color: var(--primary-color);
}

.Badge .wrapper.light-primary {
    background-color: var(--light-primary-color);
    color: rgba(0, 0, 0, 0.5);
}

.Badge .wrapper.secondary {
    background-color: var(--secondary-color);
}

.Badge .wrapper.light-secondary {
    background-color: var(--light-secondary-color);
    color: rgba(0, 0, 0, 0.7);
}

.Badge .wrapper.green {
    background-color: var(--green-color);
}

.Badge .wrapper.gray {
    background-color: rgba(0, 0, 0, 0.4);
}

.Badge {
    padding: 3px;
}
