.Editor .sun-editor {
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid var(--primary-color);
}

.Editor .sun-editor .se-toolbar {
    outline: none;
    border-bottom: 1px solid var(--primary-color);
}

.Editor .sun-editor .se-btn-module-border {
    border: 1px solid var(--primary-color);
}

.Editor label {
    margin-bottom: 5px;
    font-size: 16px;
}
