.ExamSpecializationsForm .testings .item {
    font-size: 1.5rem;
    padding: 10px 0;
}

.ExamSpecializationsForm .testings .error {
    font-size: 1.3rem;
}

.ExamSpecializationsForm .testings .item.draft .Ref {
    color: var(--primary-color) !important;
}

.ExamSpecializationsForm .testings .item.draft .Ref i {
    opacity: 0.8;
}
