.PhotoPreview {
    border: 5px solid var(--secondary-color);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12),
                0 5px 5px -3px rgba(0, 0, 0, 0.20),
                inset 0 0 4px 1px rgba(0, 0, 0, 0.30);
}

.PhotoPreview.circle {
    border-radius: 50%;
}
