.InfoBlock {
    border-radius: 5px;
    background-color: #ffbf9077;
    border: 1px solid var(--primary-color);
    padding: 10px 25px;
    color: rgba(0, 0, 0, 0.7);
}

.InfoBlock .info-icon i {
    color: var(--primary-color);
    opacity: 0.4;
}
