.ErrorPage .error {
    max-width: 500px;
    text-align: left;
    padding-left: 70px;
}

.ErrorPage .error .title,
.ErrorPage .error .message {
    font-size: 1.5rem;
}

.ErrorPage .error .title {
    font-weight: bold;
    margin-bottom: 20px;
}

.ErrorPage .error .navigation {
    margin-top: 20px;
}
