table.Table {
    border-collapse: collapse;
    font-size: 0.9rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.Table.secondary thead tr {
    background-color: var(--secondary-color);
    color: #fff;
}

table.Table.primary thead tr {
    background-color: var(--primary-color);
    color: #fff;
}

table.Table thead tr th {
    text-align: center;
}

table.Table th,
table.Table td {
    padding: 12px 15px;
    border-radius: 0;
}

table.Table tbody tr {
    border-bottom: 1px solid #ddd;
}

table.Table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table.Table.secondary tbody tr:last-of-type {
    border-bottom: 2px solid var(--secondary-color);
}

table.Table.primary tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);;
}

table.Table.secondary:not(.disabled) tbody tr:hover > *:not(.highlight-default) {
    font-weight: bold;
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.1);
}

table.Table.primary:not(.disabled) tbody tr:hover > *:not(.highlight-default) {
    font-weight: bold;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.1);
}
