:root {
    --primary-color: #F86901;
    --secondary-color: #002299;
    --green-color: #238b32;
    --red-color: #f44336;
    --light-secondary-color: #6083ff;
    --light-green-color: #b4ffbf;
    --light-red-color: #ffbab5;
    --border-primary-color: rgba(0, 0, 0, 0.5);
}

body {
    overflow-x: hidden;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.heading .title {
    font-size: 30px;
    margin: 0;
}

.heading .subtitle {
    margin: 0;
    font-size: 18px;
}
