.ExamStatisticItem {
    padding: 15px 0;
}

.ExamStatisticItem.success .ProgressBar {
    background-color: var(--light-green-color);
}

.ExamStatisticItem.success .ProgressBar .filler {
    background-color: var(--green-color);
}

.ExamStatisticItem.failure .ProgressBar {
    background-color: var(--light-red-color);
}

.ExamStatisticItem.failure .ProgressBar .filler {
    background-color: var(--red-color);
}

.ExamStatisticItem .ProgressBar .content .percentage .last,
.ExamStatisticItem .ProgressBar .content .percentage .best {
    padding: 0 5px;
}

.ExamStatisticItem .ProgressBar .content .percentage .corona {
    padding: 10px 0;
}

.ExamStatisticItem .arrow {
    padding-left: 15px;
}

.ExamStatisticItem .arrow i {
    font-size: 40px;
    font-weight: bold;
    color: var(--green-color);
}
