.register, .login {
    padding: 5px 10px;
    margin: 10px 0px;
    font-size: 20px;
    color: #7003FF;
    font-weight: bold;
    cursor: pointer;
}

.register {
    border: 2px solid #FF7903;
    transition: all 0.5s;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.register:hover {
    /* box-shadow: none; */
    background-color: rgba(255, 121, 3, 0.7);
}

.login {
    margin-left: 10px;
    border: 2px solid transparent;
}
