.SiteNavigation .link {
    font-size: 1.25rem;
    color: black;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: bold;
    transition: all 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SiteNavigation .link:hover {
    color: var(--primary-color);
}
