.ExaminationTest {
    font-size: 1.25rem;
}

.ExaminationTest .question {
    margin-bottom: 10px;
}

.ExaminationTest .question .error-form-trigger {
    opacity: 0.5;
    transition: all 0.3s;
}

.ExaminationTest .question .error-form-trigger:hover {
    color: var(--red-color);
    opacity: 1;
}

.ExaminationTest .variants .variant {
    padding: 10px 0;
}

.ExaminationTest .variants .variant .title {
    font-size: 1.2rem;
    color: black;
}

.ExaminationTest .alert {
    margin-bottom: 20px;
}
