.SpecializationItem .title {
    text-align: center;
}

.SpecializationItem .title:hover {
    box-shadow: 0 0 10px 0 var(--secondary-color)
}

.SpecializationItem {
    position: relative;
    display: block;
}

.SpecializationItem .edit {
    position: absolute;
    right: 15px;
    color: white;
    z-index: 1000;
    top: 10px;
    opacity: 0.5;
    transition: all 0.3s;
    cursor: pointer;
}

.SpecializationItem .edit:hover {
    opacity: 1;
}

.SpecializationItem .edit i.material-icons {
    font-size: 2.5rem;
    color: white;
    transition: all 0.3s;
}

.SpecializationItem .edit:hover i.material-icons {
    color: var(--primary-color);
}
